$auth-form-title-size: 44px;
$auth-form-title-size-xs: 26px;
$auth-form-margin-top: 50px;
$auth-form-margin-top-xs: 24px;
$auth-form-forgot-password-margin-top: 44px;
$auth-form-forgot-password-margin-top-xs: 24px;

.c-auth-form {
  padding: 24px;

  &__title {
    font-size: $auth-form-title-size;

    @include media-breakpoint-down(sm) {
      font-size: $auth-form-title-size-xs;
    }
  }

  &__form {
    margin-top: $auth-form-margin-top;

    @include media-breakpoint-down(sm) {
      margin-top: $auth-form-margin-top-xs;
    }
  }

  &__forgot-password {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-top: $auth-form-forgot-password-margin-top;

    @include media-breakpoint-down(sm) {
      margin-top: $auth-form-forgot-password-margin-top-xs;
    }
  }

  .c-auth-form__actions {
    width: 385px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

