$forgot-password-form-title-size: 14px;
$forgot-password-form-description-color: $gray-600;

.c-forgot-password-form {
  @include auth-form();

  &__description {
    text-align: center;
    font-size: $forgot-password-form-title-size;
    color: $forgot-password-form-description-color;
  }
}
