$login-password-form-box-shadow: $box-shadow-popup;
$login-password-form-max-width: 385px;
$login-password-form-min-width: 272px;
$login-password-form-max-height: 321px;
$login-password-form-border-radius: 8px;
$login-password-form-background-color: $white;
$login-password-form-padding: 50px;

.c-login-password-form {
  width: 100%;
  height: 100%;
  max-width: $login-password-form-max-width;
  min-width: $login-password-form-min-width;
  max-height: $login-password-form-max-height;
  border-radius: $login-password-form-border-radius;
  box-shadow: $login-password-form-box-shadow;
  background-color: $login-password-form-background-color;
  padding: $login-password-form-padding;

  &__form {

    .c-checkbox-field {
      margin-left: 13px;
    }

    .c-form__submit {
      display: block;
      margin: 2px auto;
    }
  }
}
